@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  overflow: auto;
}

@font-face {
  font-family: VelaSans;
  src: url(./assets/fonts/VelaSans-GX.ttf);
}

html {
  font: 16px VelaSans, sans-serif;
}
